/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #f8ffd0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #a0ad8d;
}

.img-fluid{
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0;
}

.btn{
  background-color: #5c6354;
}

router-outlet + *  {
  padding: 0 8px;
}

/* Text */

h1 {
  font-size: 32px;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #e3ecaa;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  color: #c3cd79;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #e3ecaa;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  align-content: center;
  justify-content: center;
}

.row-wrap{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  align-content: center;
  justify-content: center;
}

/* Card drink*/
.card{
  width: 28%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 8px;
  margin: 10px;
  background-color: #5c6354;
  border: 0px;
}
.card-img{
  width: 100%;
  height: auto;
  border-radius: 2px;
}
.card-img:hover{
  opacity: 30%;
  scale: 105%;
}
.card-body{
  width: 100%;
  height: auto;
  padding: 8px 0px 0px;
  text-align: center;
}
.card-body p{
  font-size: 18px;
  font-weight: bold;
  color: #e3ecaa;
}

.card *{ /* Tutto cio che e dentro card avra margin 0 */
  margin: 0px;
}

/* Top Bar */
top-bar{
  width: 100%;
  height: 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 40px;
  background-color: #5c6354;
  padding: 16px;
  align-items: center;
  margin: 16px 0px 0px 0px;
}

top-bar h1 , ul li a{
  color: #e3ecaa;
  margin: 0;
}

top-bar ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 10px 20px;
}
top-bar li {
  padding: 0 20px;
}

top-bar *{
  margin: 0px;
}

/* Pagina-dettaglio */
app-dettglio, h1, h2, p{
  text-align: center;
  padding: 14px;
  margin: 0;
}

app-dettaglio .row-wrap img{
  padding: 10px;
}

.col-4{
  flex: 0 0 auto !important;
  width: 33.33333% !important;
}

.col-8{
  flex: 0 0 auto !important;
  width: 66.66666667% !important;
}

page-not-found{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
page-not-found .btn{
  margin-top: 20px;
}
page-not-found h1{
  margin-top: 30px;
  font-size: 64px;
}

@media (max-width: 576px) {
  .col-sm-8{
    flex: 0 0 auto !important;
    width: 66.66666667% !important;
  }
  .col-sm-12{
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  
  .row-sm-column{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .row-wrap{
    justify-content: center ;
  }
  .row-wrap .img-fluid{
    width: 60%;
    height: auto;
    align-self: center;
  }
  .row-wrap .col-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card{
    width: 20%;
    height: auto;
  }
  app-dettaglio .container {
    padding: 0px 50px;
  }
}